/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand:300,400,700');

.Calendar {
    font-family: 'Quicksand', sans-serif;;
    margin: 0 1rem;
}

/* Non mobile overrides */

@media screen and (min-width:1000px) {
    .Calendar {
        margin: 0 auto;
        width:1000px;
    }
}