.Month {
    display:flex;
    flex-direction:column;
    list-style: none;
    padding:0;
    margin:20px auto;
}

.weekday-names {
    display:flex;
    width:100%;
    list-style:none;
    padding: 0;
    margin:0 auto;
}

.weekday-name {
    overflow:hidden;
    width:12.5%;
    flex-grow: 2;
    font-size:0.7rem;
    background:#fafafa;
    padding: 10px 5px;
}