.Week {
    display:flex;
    width:100%;
    list-style:none;
    padding: 0;
    margin:0 auto;
}

.week-number {
    background:#fff;
    color:#a8a8a8;
    border-bottom: 1px solid #4A90E2;
    border-right: 1px solid #4A90E2;
    border-left: 1px solid #4A90E2;
    text-align:center;
    flex-basis:5%;
    min-width:30px;
    display:flex;
    justify-content: center;
    align-items: center;
}
