
html,
body {
  height:100%;
  font-size: 62.5%; /* This makes rem sizing similar to px. I.e 2.2rem equals 22px */
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Non mobile overrides */

/* Simplest way to not have broken layout between around 450px to 650px is to set
   base font size a bit smaller as app uses rem sizing */
@media screen and (min-width:450px) {
  html,
  body  {
    font-size: 40%;
  }
}

@media screen and (min-width:650px) {
  html,
  body  {
    font-size: 62.5%;
  }
}